.searchContainer{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.company{
    outline: none;
    border: none;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding: 0 14px;
    font-size: 15px;
    height: 38px;
}

.loading-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loader {
    color: white;
    font-size: 30px;
  }